.banner {
  margin: 0 30px;
  min-height: 500px;
  position: relative;
  background-image: url("./../assets/images/main-bg.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &_video {
    position: relative;
    @include center;
    top: 35%;
    z-index: 0;
    height: fit-content;
  }
}
.shop {
  &-banner {
    background: rgb(25, 27, 35);
    width: 100%;
    height: 336px;
    padding-left: 24px;
    align-items: center;
    display: flex;
    position: relative;

    &:hover {
      &:after {
        opacity: 1;
      }

      .shop-logo {
        transform: rotate(180deg);
      }
    }

    &:after,
    &::before {
      content: "";
      display: block;
      z-index: 0;
      width: 100%;
      height: 100%;
    }

    &:before {
      background: url("../assets/images/effect.webp") no-repeat center/contain;
      @include center;
    }

    &:after {
      background: url("../assets/images/banner-glow.webp") no-repeat
        center/cover;
      opacity: 0.5;
      transition: opacity 0.25s;
      bottom: 0;
      right: 0;
      position: absolute;
    }

    &__wrapper {
      overflow: hidden;
      min-height: 504px;
      display: flex;
      align-items: flex-end;
    }

    &__subtitle {
      color: $grey;
      font-size: 24px;
      font-weight: 900;
      line-height: 32px;
    }

    &__title {
      color: $light;
      font-size: 70px;
      font-weight: 900;
      line-height: 125%;
      margin-top: 32px;
    }

    &__image {
      position: absolute;
      right: 10%;
      bottom: -23px;
      z-index: 2;
    }

    &__logo {
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 1;

      img {
        transition: transform 1s ease-in-out;
        transform: rotate(0);
      }
    }
  }
}
.shop {
  font-size: 80px;
  font-weight: 700;
  margin: 0 auto;
  padding: 100px 0px 480px;
  text-align: center;
}
