@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}
a {
  text-decoration: none;
  color: $light;
}
section {
  position: relative;
  z-index: 1;
}
li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.more_button {
  color: $light;
  font-size: 14px;
  font-weight: 900;
  text-decoration-line: underline;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  cursor: pointer;
  transition: color 0.25s;

  &:hover {
    color: $action;
  }

  @media only screen and (max-width: 1366px) {
    font-size: 12px;
    margin-top: 25px;
  }
}
